<header>
    <div class="logo">
        <a href="../../">Sujay Kapadnis</a>
    </div>
    <nav>
        <ul class="nav-menu">
            <li><a href="../../">Home</a></li>
            <li><a href="../../projects/">Projects</a></li>
            <li><a href="../../resume/">Resume</a></li>
            <li><a href="../../blogs/">Blog</a></li>
            <li><a href="../../index.html#contact">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    
</header>
