/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Typography */
h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Layout */
.hero-content {
    display: flex;
    max-width: 1200px;
    margin: 0 100px 100px 140px;
    padding: 0 2rem;
    justify-content: space-between;
}

/* Header and Navigation */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 8%;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
}

.search-icon {
    font-size: 12px;
    color: #757575;
}

.logo {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3498db;
    margin-left: 190px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #3498db;
}

.auth-buttons {
    margin-right: 180px;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #121e26;
    color: #fff;
}

.btn-primary:hover {
    background-color: #858e93;
}

.btn-secondary {
    background-color: #ecf0f1;
    border: 1px solid #0d0c0c;
    color: #333;
}

.btn-secondary:hover {
    background-color: #919191;
}

.btn-large {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
}

/* Hero Section */
#hero {
    background-color: #e6e6ea;
    text-align: center;
    padding: 8rem 2rem 0rem;
}

#hero h1 {
    padding: 5rem 0rem 0rem;
    text-align: left;
    margin-bottom: 1rem;
}

#hero h2 {
    margin-left: 11rem;
    text-align: left;
    margin-bottom: 1rem;
}

#hero p {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero-buttons {
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.hero-image {
    max-width: 40%;
}

.hero-image img {
    width: auto;
    height: auto;
}

/* ThinkLink Members */
.thinklink-members {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem 8rem 10rem 9.5rem;
}

.member-type {
    flex-basis: calc(25% - 2rem);
    margin: 1rem;
    display: flex;
    align-items: center;
}

.member-image {
    flex: 0 0 80px;
    margin-right: 1rem;
}

.member-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.member-info {
    flex: 1;
}

.member-info h3 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.member-info p {
    font-size: 0.7rem;
    color: #666;
}

/* Features Section */
#features {
    margin: -10rem 0 0 11rem;
    background-color: #ffffff;
    padding: 2rem 2rem;
}

#features h2 {
    margin-left: 0;
    text-align: left;
    margin-bottom: 2rem;
}

#features .features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-right: 10rem;
}

.feature {
    background-color: #e6e6ea;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.feature-content {
    flex: 1;
}

.feature i {
    font-size: 2rem;
    color: #3498db;
    margin-bottom: 1rem;
}

.feature-image {
    flex: 0 0 80px;
    margin-left: 1rem;
}

.feature-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* How It Works Section */
#how-it-works {
    margin: -15rem 0 0 11rem;
    background-color: #ffffff;
    padding: 4rem 2rem;
    margin: 0 0 0 11rem;
}

#how-it-works h2 {
    text-align: left;
    margin-bottom: 2rem;
}

.steps {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 10rem;
}

.step {
    flex: 1;
    text-align: center;
    padding: 2rem;
    background-color: #e6e6ea;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step-number {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
}

/* Success Stories Section */
#success-stories {
    background-color: #e6e6ea;
    text-align: center;
    padding: 8rem 2rem 0rem;
}

#success-stories h2 {
    margin: -5rem 0 0 11rem;
    text-align: left;
    margin-bottom: 2rem;
}

.story-carousel {
    margin: 0rem 2rem 0 11rem;
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 0rem 0rem 5rem;
}

.story {
    flex: 0 0 300px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* CTA Section */
#cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6ea;
    color: #e6e6ea;
    padding: 0rem 0rem 0;
    text-align: center;
    margin: 0 0rem 0 0rem;
}

#cta h2 {
    text-align: left;
    color: #000000;
    margin: 0 0 0 13rem;
}

#cta p {
    text-align: left;
    color: #000000;
    margin: 0 0 0 13rem;
}

#cta .cta-button {
    margin-right: 22rem;
    /* Adjusts the right margin to align with the text's left margin */
}


/* Footer */
footer {
    background-color: #e6e6ea;
    color: #000000;
    padding-top: 3rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 0rem 2rem 11rem;
    padding: 0 2rem;
}

.footer-section {
    flex: 1;
    margin: 0 1rem;
}

.footer-section h4 {
    color: #000000;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    color: #000000;
    margin-bottom: 0.5rem;
}

.footer-section ul a {
    color: #000000;
    ;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: #000000;
    font-size: 1rem;
}

.footer-bottom {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    margin: 0 0 0 0rem;
    padding-top: 0rem;
    /* border-top: 1px solid #444; */
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
    }

    .thinklink-members {
        flex-direction: column;
    }

    #features .features-grid {
        grid-template-columns: 1fr;
    }

    .steps {
        flex-direction: column;
    }
}